init-block($width, $height, $margin-bottom, $background)
  width $width
  height $height
  margin-bottom $margin-bottom
  background $background

border-1px($width)
  width: $width
  border-bottom: 1px dotted
